.article {
    background-color: forestgreen;
}

img {
    width: 100px;
    height: 100px
}

.selected {
    display: none;
}

header, footer {
    height: 70px;
    background-color: pink;
    text-align: right;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list div {
    margin: 10px
}